<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>

</head>
<body>
    <div class="wrapper">

    <div class="content">

        <header class="header">
            <div class='container'>
                <div class="header__body">
                    <a href="/Home" class="header__logo">
                            <img src="/img/logo.png" alt="">
                    </a>
                        <div class="header__burger" onclick="toggleMenu()">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <a href="/Home" class="header__link">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/Cars/List" class="header__link">
                                    All cars
                                </a>
                            </li>
                            <li>
                                <a href="/Cars/List/Electric" class="header__link">
                                    Electric
                                </a>
                            </li>
                            <li>
                                <a href="/Cars/List/Gasoline" class="header__link">
                                    Fuel
                                </a>
                            </li>
                            <li>
                                <a href=/ShopCart/ class="header__link">
                                     Cart
                                </a>
                            </li>
                            <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-controller="Auth" asp-action="Logout" class="header__link">
                                            Logout
                                        </a>
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li>
                                                 <a asp-controller="Panel" asp-action="Index" class="header__link" style="color: greenyellow;">Admin panel</a>
                                            </li>
                                        }
                                        <li>
                                            <a href="/FavoriteCars/Index" class="telimg">
                                                <img src="/img/fav.png" width="20" height="20" alt="">
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <a asp-controller="Auth" asp-action="Login" class="header__link">
                                            Sign In
                                        </a>
                                    }
                            </li>
                            <li>
                                <a href="https://t.me/vldfltv" class="telimg">
                                    <img src="/img/tel.png" width="20" height="20" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="site-description">
            <div class='container'>
                <h2>Car Sales</h2>
                <p>We offer you the opportunity to purchase previously leased vehicles. These vehicles were purchased new from authorized dealers, and our company is their first and sole owner. They were previously assigned to managers of companies for which we formed vehicle fleets, with their own corporate driving safety standards. These vehicles are regularly serviced at certified service centers and have a transparent technical and insurance history with all the necessary documents. VAT is included in the price for corporate buyers. You can see the available vehicles of various brands, models, and classes on this website.</p>
            </div>
        </div>

        <div id="wrapper__articles">
            <div class='container'>
                <div id="articles">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

        <footer class="footer">
            <div class="container">
                <p class="float-end"><a href="#"><img src="/img/navigate-up-arrows.png" width="15" height="15" alt=""></a></p>
                <p>© 2023 All rights reserved.</p>
            </div>
        </footer>

    </div>

</body>
</html>
